[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lcsm"]
	path = lcsm
	url = https://github.com/milanwiedemann/lcsm
[submodule "suddengains"]
	path = suddengains
	url = https://github.com/milanwiedemann/suddengains
